<div id="map" class="map-container">
  <div class="map-controls">
    <button mat-mini-fab color="primary" class="map-control-button" title="Zoom to full extent">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="map-control-button" title="Toggle overview map">
      <mat-icon>map</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="map-control-button" title="Reset rotation">
      <mat-icon>rotate_left</mat-icon>
    </button>
  </div>
</div>