<div class="dialog-header">
    <h1><strong>{{ this._attributeTableService.layerName }} </strong> <small> ({{this._attributeTableService.length}}
            lignes)</small></h1>
    <div class="dialog-actions">
        <button mat-icon-button (click)="resetFilter()" [disabled]="!this._attributeTableService.isFilterApplied"
            [matTooltip]="'Réinitialiser le filtre'">
            <mat-icon [svgIcon]="'heroicons_outline:arrow-path'"></mat-icon>
        </button>
        <button mat-icon-button (click)="openFilter()" [matTooltip]="'Filtrer'">
            <mat-icon [svgIcon]="'heroicons_outline:funnel'"></mat-icon>
        </button>
        <button mat-icon-button (click)="closeDialog()" [matTooltip]="'Fermer'">
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
</div>

<div class="table-container">
    <table mat-table [dataSource]="this._attributeTableService.filteredDataSource" matSort
        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        @for (column of this._attributeTableService.displayedColumns; track trackByFn($index, column);) {
        <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="this._attributeTableService.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this._attributeTableService.displayedColumns;"></tr>
    </table>
</div>