.filter-panel {
    position: absolute;
    font-size: smaller;
    top: 70px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: auto;
  }

  .form-container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  .filter-panel .dialog-title {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px;
  }
  
  .filter-panel .dialog-title mat-icon {
    margin-right: 8px;
  }
  
  .filter-panel form .form-fields {
    margin-bottom: 10px;
    width: auto;
  }
  
  .filter-panel button {
    align-self: flex-end;
  }
  