<div class="fixed bottom-0 top-0 w-full sm:w-96 lg:sticky lg:left-full lg:h-screen lg:w-16 lg:shadow">
    <div class="bg-card flex h-full w-full flex-col transition-transform duration-400 ease-drawer sm:w-96" [ngClass]="{
            '-translate-x-full shadow sm:-translate-x-96 lg:-translate-x-80':
                opened,
            'translate-x-0': !opened,
        }">
        <!-- Header -->
        <div class="quick-chat-header flex flex-0 cursor-pointer items-center justify-start" (click)="toggle()">
            <!-- Toggle -->
            @if (!opened || (opened && !selectedLayer)) {
            <div class="flex flex-auto items-center justify-center">
                <div class="flex w-16 flex-0 items-center justify-center">
                    <mat-icon [matTooltip]="tooltip || 'Couches'" class="icon-size-6" [svgIcon]="
                                'heroicons_outline:square-3-stack-3d'
                            "></mat-icon>
                </div>
                <div class="text-secondary text-lg font-medium">
                    Couches
                </div>
                <button class="ml-auto mr-4" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
            }

            <!-- layer info -->
            @if (opened && selectedLayer) {
            <div class="ml-3 flex flex-auto items-center">
                <div class="relative flex h-10 w-10 flex-0 items-center justify-center">

                    <div
                        class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                        {{ selectedLayer.name.charAt(0) }}
                    </div>

                </div>
                <div class="ml-4 truncate text-lg font-medium leading-5">
                    {{ selectedLayer.name }}
                </div>
                <button class="ml-auto mr-4" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
            }
        </div>

        <!-- Content -->
        <div class="flex flex-auto overflow-hidden border-t">
            <!-- layers list -->
            <div class="h-full w-16 flex-0 overflow-y-auto overscroll-y-contain sm:overflow-hidden sm:overscroll-auto"
                fuseScrollbar [fuseScrollbarOptions]="{ wheelPropagation: false }">

                <div class="flex-auto">
                    <!-- Couches GeoServer -->
                    <div class="mb-2">
                        <h3
                            class="text-xs mb-2 py-1 text-center font-semibold tracking-wider text-gray-500 border-b border-gray-200">
                            Couches GeoServer</h3>
                        @if ((layers | filterLayers:'WFS':'WMS').length > 0) {
                        @for (layer of layers | filterLayers:'WFS':'WMS'; track trackByFn($index, layer); let i =
                        $index) {
                        <div class="relative" [attr.data-index]="i">
                            <div class="h-1 w-full transition-all duration-200 ease-in-out"
                                [ngClass]="{'bg-blue-200 h-2': draggedOverIndex === i}"></div>
                            <div class="flex justify-center cursor-pointer items-center px-3 py-2 transition-all duration-200 ease-in-out"
                                [ngClass]="{
                                       'hover:bg-gray-100 dark:hover:bg-gray-700': !selectedLayer || selectedLayer !== layer,
                                       'bg-primary-50 dark:bg-gray-600': selectedLayer && selectedLayer === layer,
                                       'opacity-50': draggedIndex === i
                                     }" (click)="selectedLayer = layer" draggable="true"
                                (click)="onLayerVisibilityChange(layer.id)">
                                <div [matTooltip]="tooltip || 'Cliquer pour visualiser'"
                                    class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-xs uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200 shadow-sm">
                                    {{ layer.name }}
                                </div>
                            </div>
                        </div>
                        }
                        } @else {
                            <div class="flex flex-col justify-center items-center pb-3">
                                <p class="text-xs justify-center items-center text-center py-2">Importer d'ici:</p>
                                <button class="flex rounded-full bg-blue-100" mat-icon-button (click)="toggleImportPanel()"
                                    [matTooltip]="_quickChatService.isImportPanelVisible ? 'Annuler' : 'Importer une couche à partir d\'un serveur'">
                                    <mat-icon [svgIcon]="_quickChatService.isImportPanelVisible ? 'heroicons_outline:x-mark' : 'heroicons_outline:cloud-arrow-down'"></mat-icon>
                                </button>
                            </div>
                        }
                    </div>

                    <!-- Couches importées -->
                    <div class="mt-4">
                        <h3
                            class="text-xs mb-2 py-1 text-center font-semibold tracking-wider text-gray-500 border-b border-t border-gray-200">
                            Couches locales
                        </h3>
                        @if ((layers | filterLayers:'IMPORT').length > 0) {
                        @for (layer of layers | filterLayers:'IMPORT'; track trackByFn($index, layer); let i = $index) {
                        <div class="relative" [attr.data-index]="i">
                            <div class="h-1 w-full transition-all duration-200 ease-in-out"
                                [ngClass]="{'bg-blue-200 h-2': draggedOverIndex === i}"></div>
                            <div class="flex justify-center cursor-pointer items-center px-3 py-2 transition-all duration-200 ease-in-out"
                                [ngClass]="{
                         'hover:bg-gray-100 dark:hover:bg-gray-700': !selectedLayer || selectedLayer !== layer,
                         'bg-primary-50 dark:bg-gray-600': selectedLayer && selectedLayer === layer,
                         'opacity-50': draggedIndex === i
                     }" (click)="selectedLayer = layer" draggable="true" (click)="onLayerVisibilityChange(layer.id)">
                                <div [matTooltip]="tooltip || 'Cliquer pour visualiser'"
                                    class="flex h-8 w-8 py-1 items-center justify-center rounded-full bg-gray-200 text-xs uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200 shadow-sm">
                                    {{ layer.name }}
                                </div>
                            </div>
                        </div>
                        }
                        } @else {
                        <div class="flex flex-col justify-center items-center pb-3">
                            <p class="text-xs justify-center items-center text-center py-2">Importer d'ici:</p>
                            <button class="flex rounded-full bg-blue-100" mat-icon-button (click)="openFileInput()"
                                [matTooltip]="'Importer une couche locale'">
                                <mat-icon [svgIcon]="'heroicons_outline:arrow-down-tray'"></mat-icon>
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <!-- layer management -->
            <div class="flex flex-auto flex-col overflow-hidden border-l bg-card">
                @if (selectedLayer) {
                <mat-card class="m-4">
                    <mat-card-header>
                        <mat-card-title>{{ selectedLayer.name }}
                            <button mat-icon-button (click)="openAttributeTable(selectedLayer.id)"
                                [matTooltip]="'Ouvrir la table attributaire'">
                                <mat-icon [svgIcon]="'heroicons_outline:table-cells'"></mat-icon>
                            </button>
                        </mat-card-title>
                    </mat-card-header>
                    <!-- <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <span matListItemTitle>Opacity</span>
                                <span matListItemLine>{{ selectedLayer.layer.getOpacity() | percent }}</span>
                            </mat-list-item>
                            <mat-list-item>
                                @if (isLayerLine(selectedLayer.features)) {
                                <span matListItemTitle>Color</span>
                                <span matListItemLine>
                                    <span class="color-preview"
                                        [style.background-color]="selectedLayer.style.getStroke().getColor()"></span>
                                    {{ selectedLayer.style.getStroke().getColor() || 'None' }}
                                </span>
                                } @else {
                                <span matListItemTitle>Color</span>
                                <span matListItemLine>
                                    <span class="color-preview"
                                        [style.background-color]="selectedLayer.style.getFill().getColor()"></span>
                                    {{ selectedLayer.style.getFill().getColor() || 'None' }}
                                </span>
                                }
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content> -->
                </mat-card>

                <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="m-4" animationDuration="0ms">
                    <mat-tab label="Color">
                        <ng-template matTabContent>
                            <div class="p-4">
                                @if (isLayerLine(selectedLayer.features)) {
                                <app-color-pie-chart [selectedColor]="selectedLayer.style.getStroke().getColor()">
                                </app-color-pie-chart>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>Selected Color</mat-label>
                                    <input matInput [value]="selectedLayer.style.getStroke().getColor() || 'None'"
                                        readonly>
                                </mat-form-field>
                                } @else {
                                <app-color-pie-chart [selectedColor]="selectedLayer.style.getFill().getColor()">
                                </app-color-pie-chart>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>Selected Color</mat-label>
                                    <input matInput [value]="selectedLayer.style.getFill().getColor() || 'None'"
                                        readonly>
                                </mat-form-field>
                                }
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Opacity">
                        <ng-template matTabContent>
                            <div class="p-4">
                                <mat-slider class="w-full" color="primary" [min]="0" [max]="1" [step]="0.01"
                                    [discrete]="true">
                                    <input matSliderThumb>
                                </mat-slider>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>Opacity</mat-label>
                                    <input matInput [value]="selectedLayer.layer.getOpacity() | percent" readonly>
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
                } @else { -->
                <div class="flex h-full w-full flex-auto flex-col items-center justify-center p-4">
                    <mat-icon class="text-6xl text-hint" svgIcon="layers"></mat-icon>
                    <h2 class="mt-4 text-center text-2xl font-medium text-secondary">Sélectionner une couche</h2>
                    <p class="mt-2 text-center text-hint">Choisir une couche dans la liste pour voir et modifier ses
                        propriétés
                    </p>
                </div>
                }
            </div>
        </div>
    </div>
</div>