<div class="fixed bottom-0 top-0   lg:sticky lg:left lg:h-screen lg:w-36 lg:shadow">
  
    <!-- Header -->
    <div class="quick-chat-container" [ngClass]="{'opened': opened}" >
      <!-- Header -->
      <div class="quick-chat-header flex flex-0 cursor-pointer items-center justify-start" (click)="toggle()">
        <!-- Toggle -->
        @if (!opened ) {
        <div class="flex w-full items-center justify-center">
          <div class="flex w-8 flex-0 items-center justify-center">
            <mat-icon [matTooltip]="tooltip || 'Couches'" class="icon-size-7"
              [svgIcon]="'heroicons_outline:square-3-stack-3d'"></mat-icon>
          </div>
          <!-- <div class="text-secondary text-lg font-medium">
            Couches
          </div> -->
          
          
        </div>
        }
        @if (opened){
          <button class="ml-auto mr-4" mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
          </button>
        }

        <!-- layer info -->
        @if (opened && selectedLayer) {
        <div class="ml-3 flex flex-auto items-center">
          <div class="relative flex h-10 w-10 flex-0 items-center justify-center">
            <div
              class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200">
              {{ selectedLayer.name.charAt(0) }}
            </div>
          </div>
          <div class="ml-4 truncate text-lg font-medium leading-5">
            {{ formatLayerName(selectedLayer.name) }}
          </div>
          <button class="ml-auto mr-4" mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
          </button>
        </div>
        }
      </div>

      <!-- Content -->
      <div class="quick-chat-content flex flex-auto overflow-hidden border-t">
        <!-- layers list -->
        <div class="layer-list-container h-full flex-0 overflow-y-auto overscroll-y-contain" fuseScrollbar
          [class.can-expand]="opened" [fuseScrollbarOptions]="{ wheelPropagation: false }">
          <!-- <button class="view-toggle-btn" (click)="toggleExpanded()">
            <mat-icon>{{ expanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
          </button> -->
          <div class="layers-wrapper">
            <!-- Couches GeoServer -->
            <div class="mb-2">
              <h3 class="text-xs mb-2 py-1 pl-1 text-center font-semibold tracking-wider text-gray-500 border-b border-gray-200">
                Couches GeoServer
              </h3>
              @if ((layers | filterLayers:'WFS':'WMS').length > 0) {
                @for (layer of layers | filterLayers:'WFS':'WMS'; track trackByFn($index, layer); let i = $index) {
                  <div class="relative layer-item" [attr.data-index]="i">
                    <div
                      class="flex justify-between cursor-pointer items-center px-3 py-2 transition-all duration-200 ease-in-out"
                      [ngClass]="{
                        'bg-primary-50 dark:bg-gray-600': selectedLayer && selectedLayer === layer,
                        'opacity-50': draggedIndex === i,
                        'bg-gray-200 dark:bg-gray-700': !opened && layer.layer.getVisible()
                      }"
                      (click)="onLayerClick(layer)"
                      draggable="true"
                      (dragstart)="onDragStart($event, i)"
                      (dragend)="onDragEnd($event)"
                      (dragover)="onDragOver($event, i)"
                      (dragleave)="onDragLeave()"
                      (drop)="onDrop($event, i)"
                    >
                      <div class="flex items-center">
                        <div class="legend-container w-6 h-6 flex-shrink-0 mr-2" [innerHTML]="getOpenLayersLegend(layer)"></div>
                        <mat-icon *ngIf="opened" 
                      [svgIcon]="layer.layer.getVisible() ? 'heroicons_solid:eye' : ''"
                      class="icon-small">
            </mat-icon> 
                        <span class="layer-name" [matTooltip]="layer.title">
                          {{ formatLayerName(layer.name) }}
                        </span>
                          
                      </div>
                                       </div>
                  </div>
                }
              } @else {
                <div class="flex flex-col justify-center items-center pb-3">
                  <p class="text-xs justify-center items-center text-center py-2">Importer d'ici:</p>
                  <button class="flex rounded-full bg-blue-100" mat-icon-button (click)="toggleImportPanel()"
                    [matTooltip]="_quickChatService.isImportPanelVisible ? 'Annuler' : 'Importer une couche à partir d\'un serveur'">
                    <mat-icon
                      [svgIcon]="_quickChatService.isImportPanelVisible ? 'heroicons_outline:x-mark' : 'heroicons_outline:cloud-arrow-down'"></mat-icon>
                  </button>
                </div>
              }
            </div>
            <!-- projets -->
            
            
            <!-- Couches importées -->
            <div class="mt-4">
              <h3 class="text-xs mb-2 py-1 text-center font-semibold tracking-wider text-gray-500 border-b border-t border-gray-200">
                Couches Locales
              </h3>
              @if ((layers | filterLayers:'IMPORT').length > 0) {
                @for (layer of layers | filterLayers:'IMPORT'; track trackByFn($index, layer); let i = $index) {
                  <div class="relative layer-item" [attr.data-index]="i">
                    <div class="flex justify-between cursor-pointer items-center px-3 py-2 transition-all duration-200 ease-in-out"
                      [ngClass]="{
                                          'bg-primary-50 dark:bg-gray-600': selectedLayer && selectedLayer === layer,
                                          'opacity-50': draggedIndex === i
                                        }" (click)="onLayerVisibilityChange(layer)" draggable="true" (dragstart)="onDragStart($event, i)"
                      (dragend)="onDragEnd($event)" (dragover)="onDragOver($event, i)" (dragleave)="onDragLeave()"
                      (drop)="onDrop($event, i)">
                      <div class="flex items-center flex-grow min-w-0">
                        <div class="legend-container w-6 h-6 flex-shrink-0 mr-2" [innerHTML]="getOpenLayersLegend(layer)"></div>
                        <span class="layer-name" [matTooltip]="formatLayerName(layer.name)">
                          {{ formatLayerName(layer.name) }}
                        </span>
                        <!-- <span class="short-name">{{ formatLayerName(layer.name).substring(0, 1) }}</span> -->
                      </div>
                    </div>
                  </div>
                }
              } @else {
              <div class="flex flex-col justify-center items-center pb-3">
                <p class="text-xs justify-center items-center text-center py-2">Importer d'ici:</p>
                <button class="flex rounded-full bg-blue-100" mat-icon-button (click)="openFileInput()"
                  [matTooltip]="'Importer une couche locale'">
                  <mat-icon [svgIcon]="'heroicons_outline:arrow-down-tray'"></mat-icon>
                </button>
              </div>
              }
            </div>
          </div>
        </div>
        
        <!-- layer management -->
        <div class="layer-management flex-none overflow-hidden border-l bg-card">
          @if (MMapselectedLayer) {
          <div #scrollContainer class="overflow-y-auto h-full w-full bg-white dark:bg-gray-800">
            <mat-card class="m-2 shadow-sm">
              <mat-card-header class="pb-2 border-b">
                <mat-card-title class="text-lg font-semibold text-gray-800 dark:text-white pl-2">
                  {{ MMapselectedLayer.title }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="pt-2">
                <div class="grid grid-cols-6 gap-2 p-2">
                  <!-- Visibility and Zoom Group -->
                  <div class="col-span-2 flex justify-start space-x-2">
                    <button mat-icon-button [matTooltip]="'Visibilité'" (click)="onButtonLayerVisibilityChange(selectedLayer)"
                            class="text-gray-600 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400 transition-colors duration-200">
                      <mat-icon [svgIcon]="selectedLayer.layer.getVisible() ? 'heroicons_outline:eye' : 'heroicons_outline:eye-slash'"></mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="'Zoom sur la couche'" (click)="ZoomToLayer(selectedLayer)"
                            class="text-gray-600 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400 transition-colors duration-200">
                      <mat-icon>my_location</mat-icon>
                    </button>
                  </div>
            
                  <!-- Attribute Table -->
                  <div class="col-span-1 flex justify-center">
                    <button mat-icon-button (click)="openAttributeTable(MMapselectedLayer.id)" [matTooltip]="'Ouvrir la table attributaire'"
                            class="text-gray-600 hover:text-green-500 dark:text-gray-300 dark:hover:text-green-400 transition-colors duration-200">
                      <mat-icon [svgIcon]="'heroicons_outline:table-cells'"></mat-icon>
                    </button>
                  </div>
            
                  <!-- Preview and Swap Group -->
                  <div class="col-span-2 flex justify-center space-x-2">
                    <button mat-icon-button (click)="togglePreviewMode()" matTooltip="Sync with main map view"
                            [ngClass]="{'text-blue-500 dark:text-blue-400': preview, 'text-gray-600 dark:text-gray-300': !preview}"
                            class="hover:text-blue-600 dark:hover:text-blue-300 transition-colors duration-200">
                      <mat-icon>sync</mat-icon>
                    </button>
                    <button mat-icon-button (click)="swapLayerVisibility()"
                            [matTooltip]="isOnlySelectedLayerVisible ? 'Show all layers' : 'Show only selected layer'"
                            [disabled]="!selectedLayer"
                            class="text-gray-600 hover:text-purple-500 dark:text-gray-300 dark:hover:text-purple-400 transition-colors duration-200"
                            [ngClass]="{'opacity-50 cursor-not-allowed': !selectedLayer}">
                      <mat-icon>swap_horiz</mat-icon>
                    </button>
                  </div>
            
                  <!-- Delete Layer -->
                  <div class="col-span-1 flex justify-end">
                    <button mat-icon-button (click)="deleteLayer(selectedLayer.id)" [matTooltip]="'Supprimer la couche'"
                            class="text-gray-600 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-400 transition-colors duration-200">
                      <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                  </div>
                </div>

                <div #mapContainer class="mt-4 transition-all duration-300 ease-in-out"
                  [ngClass]="{'sticky top-0 z-10': isMapSticky}">
                  <app-mini-map [selectedLayer]="MMapselectedLayer"   [currentMapView]="currentMapView">

                    class="w-full h-48 rounded overflow-hidden"></app-mini-map>
                </div>
                <div class="mt-4 flex justify-center space-x-4">
                  <!-- <button mat-icon-button [color]="isPreviewMode ? 'accent' : 'primary'" (click)="togglePreviewMode()"
                  matTooltip="Toggle Preview Mode">
                  <mat-icon>visibility</mat-icon>
                </button> -->
                

                  <!-- Backward Button -->
                  <!-- <button mat-icon-button color="primary" (click)="goBackward()" matTooltip="Go Backward">
                    <mat-icon>arrow_back</mat-icon>
                  </button> -->
                  <!-- Preview Mode Button -->


                  <!-- Save Button -->
                  <!-- <button mat-icon-button color="primary" (click)="saveMapState()" matTooltip="Save Map State">
                    <mat-icon>save</mat-icon>
                  </button> -->

                  <!-- Forward Button -->
                  <!-- <button mat-icon-button color="primary" (click)="goForward()" matTooltip="Go Forward">
                    <mat-icon>arrow_forward</mat-icon>
                  </button> -->

                  <!-- Go to Mini Map Button -->
                 
                </div>

              </mat-card-content>
            </mat-card>

            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"
              class="mx-2 mt-4 bg-white dark:bg-gray-800 rounded shadow-sm" animationDuration="0ms">
              <mat-tab label="Couleur">
                <ng-template matTabContent>
                  <div class="p-4 space-y-4">
                    <div class="items-center">
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Couleur de la couche</label>
                      <div class="flex items-center space-x-2">
                        <input type="color" [ngModel]="getLayerColor()" (ngModelChange)="updateLayerColor($event)"
                          class="w-12 h-10 rounded">
                        <mat-form-field class="flex-center pt-4 w-56 h-auto">
                          <input matInput [ngModel]="getLayerColor()" (ngModelChange)="updateLayerColor($event)">
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)="resetToInitialColor()"
                          matTooltip="Reset to initial color">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </div>
                    </div>

                    @if (getGeometryType(MMapselectedLayer) !== 'LineString' && getGeometryType(MMapselectedLayer) !==
                    'MultiLineString') {
                    <div>
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Couleur de bordure</label>
                      <div class="flex items-center space-x-2">
                        <input type="color" [ngModel]="getLayerStrokeColor()"
                          (ngModelChange)="updateLayerStrokeColor($event)" class="w-12 h-10 rounded">
                        <mat-form-field class="flex-center pt-4 w-56 h-auto">
                          <input matInput [ngModel]="getLayerStrokeColor()"
                            (ngModelChange)="updateLayerStrokeColor($event)">
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)="resetToInitialStrokeColor()"
                          matTooltip="Reset to initial stroke color">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </div>
                    </div>
                    }

                    <div class="flex flex-col">
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Épaisseur de la bordure</label>
                      <mat-slider class="w-auto" color="primary" [min]="0" [max]="10" [step]="0.1" [discrete]="true">
                        <input matSliderThumb [value]="getLayerStrokeWidth()"
                          (valueChange)="updateLayerStrokeWidth($event)">
                      </mat-slider>

                      <mat-form-field class="w-auto mt-2">
                        <input matInput type="number" [ngModel]="getLayerStrokeWidth()"
                          (ngModelChange)="updateLayerStrokeWidth($event)" min="0" max="10" step="0.1">
                      </mat-form-field>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>

              <mat-tab label="Opacité">
                <ng-template matTabContent>
                  <div class="p-4 space-y-4">
                    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Opacité de la couche</label>
                    <mat-slider class="w-full" color="primary" [min]="0" [max]="1" [step]="0.01" [discrete]="true">
                      <input matSliderThumb [value]="selectedLayer?.layer?.getOpacity() ?? 1"
                        (valueChange)="updateLayerOpacity($event)">
                    </mat-slider>
                    <mat-form-field class="w-full mt-2">
                      <input matInput type="number" [ngModel]="selectedLayer?.layer?.getOpacity() ?? 1"
                        (ngModelChange)="updateLayerOpacity($event)" min="0" max="1" step="0.01">
                    </mat-form-field>
                  </div>
                </ng-template>
              </mat-tab>

              @if (getGeometryType(MMapselectedLayer) === 'Point' || getGeometryType(MMapselectedLayer) ===
              'MultiPoint')
              {
              <mat-tab label="Symbologie">
                <ng-template matTabContent>
                  <div class="p-4 space-y-4">
                    <mat-form-field class="w-full">
                      <mat-label>Choisir un Symbol</mat-label>
                      <mat-select [(value)]="selectedSymbol" (selectionChange)="updateLayerSymbol()">
                        <mat-select-trigger>
                          <mat-icon>{{getSelectedSymbolIcon()}}</mat-icon>
                          <span class="ml-2">{{getSelectedSymbolLabel()}}</span>
                        </mat-select-trigger>
                        @for (symbol of availableSymbols; track symbol) {
                        <mat-option [value]="symbol.value">
                          <mat-icon>{{symbol.icon}}</mat-icon>
                          <span class="ml-2">{{symbol.label}}</span>
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <div>
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Taille de Symbol</label>
                      <mat-slider class="w-full" [min]="1" [max]="100" [step]="1">
                        <input matSliderThumb [(ngModel)]="symbolSize" (ngModelChange)="updateLayerSymbol()">
                      </mat-slider>
                      <mat-form-field class="w-full mt-2">
                        <input matInput type="number" [(ngModel)]="symbolSize" (ngModelChange)="updateLayerSymbol()"
                          min="12" max="48">
                      </mat-form-field>
                    </div>

                    <div>
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Couleur du Symbol</label>
                      <div class="flex items-center space-x-2">
                        <input type="color" [(ngModel)]="symbolColor" (ngModelChange)="updateLayerSymbol()"
                          class="w-10 h-10 rounded">
                        <mat-form-field class="flex-grow">
                          <input matInput [(ngModel)]="symbolColor" (ngModelChange)="updateLayerSymbol()">
                        </mat-form-field>
                      </div>
                    </div>

                    <div>
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Symbol
                        Opacity</label>
                      <mat-slider class="w-full" [min]="0" [max]="1" [step]="0.1">
                        <input matSliderThumb [(ngModel)]="symbolOpacity" (ngModelChange)="updateLayerSymbol()">
                      </mat-slider>
                      <mat-form-field class="w-full mt-2">
                        <input matInput type="number" [(ngModel)]="symbolOpacity" (ngModelChange)="updateLayerSymbol()"
                          min="0" max="1" step="0.1">
                      </mat-form-field>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>
              }
            </mat-tab-group>
          </div>
          } @else {
          <div class="flex h-full w-full flex-auto flex-col items-center justify-center p-4 bg-white dark:bg-gray-800">
            <mat-icon class="text-6xl text-gray-400" svgIcon="layers"></mat-icon>
            <h2 class="mt-4 text-center text-xl font-medium text-gray-700 dark:text-gray-300">Sélectionner une couche</h2>
            <p class="mt-2 text-center text-sm text-gray-500 dark:text-gray-400">Choisir une couche dans la liste pour voir et modifier ses
            propriétés</p>
          </div>
          }
        </div>
      </div>
    </div>
  
</div>