<h2 mat-dialog-title class="font-bold font-large">Import a layer</h2>
<mat-dialog-content class="dialog-content" align="start">
  <p class="description">Select a file to import. Supported formats: GeoJSON, KML, GML, and GPX.</p>

  <div 
    class="drag-drop-container" 
    (dragover)="onDragOver($event)" 
    (dragleave)="onDragLeave($event)" 
    (drop)="onDrop($event)"
  >
    <div class="grid-flow-row" align="center">
      @if (selectedFile) {
        <p>Selected file: {{ selectedFile.name }}</p>
      } @else {
        <p>Drag and drop your file here, or</p>
        <button class="underline font-semibold" mat-stroked-button (click)="fileInput.click()">
          <mat-icon style="margin-right: 10px;" class="icon-size-4" [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
          Browse your files
        </button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".geojson,.kml,.gml,.gpx">
      }
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!selectedFile" (click)="importFile()">Add to Map</button>
</mat-dialog-actions>